.app {
  max-width: 600px !important;
  margin: 10px auto;
}

.title {
  text-align: center;
  margin: 20px 0;
  font-weight: 400;
  font-family: sans-serif;
}

.categories {
  margin: 10px 0;
}

.categories .btn {
  margin: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.pagination .page {
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

.pagination .page.active {
  text-decoration: underline;
}

.article-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
}